.item {
  display: flex;
  flex-direction: row;
}

.priority-wrapper {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-wrapper {
  display: flex;
  flex-direction: row;
}

.task {
  width: 150px;
  color: #333;
  padding: 10px;
  margin-bottom: 8px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.2s ease-out;
  overflow-wrap: break-word;
}

.done {
  text-decoration: line-through;
}

.dragging {
  background-color: lightgreen;
}

.delete,
.mark-done {
  padding: 5px 10px;
  margin: 0 0 10px 10px;
}

.hidden {
  display: none;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
}
